.basic-layout {
  padding-top: 54px;

  .page-introduction {
    max-width: 1097px;
    margin-bottom: 54px;

    p {
      color: var(--dark);
      font-family: var(--primary-font);
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin: 0;
    }
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 29px;
    margin-bottom: 65px;

    h3 {
      color: var(--dark);
      font-family: var(--primary-font);
      font-size: 31px;
      font-style: normal;
      font-weight: 600;
      line-height: 115%;
    }
  }

  .page-grid {
    margin-bottom: 127px;
    --bs-gutter-y: 24px;
  }
}

.page-content {
  padding-top: 80px;
  padding-bottom: 200px;
  max-width: 972px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark);
    font-family: var(--primary-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 25px;
  }

  p {
    color: var(--dark);
    font-family: var(--neue-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: 145%;
    letter-spacing: 0.06px;
    margin-bottom: 25px;
  }
}

.post-layout {
  padding: 82px 0 105px 0;

  .post-info {
    padding-top: 93px;
    max-width: 972px;
    margin: 0 auto;

    .date {
      color: var(--dark);
      font-family: var(--neue-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 450;
      line-height: 100%;
      margin-bottom: 25px;
      display: block;
    }

    h1 {
      color: var(--dark);
      font-family: var(--primary-font);
      font-size: 61px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      margin-bottom: 25px;
    }

    .post-intro {
      color: var(--dark);
      font-family: var(--primary-font);
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 30px;
    }

    .image-wrapper {
      margin-bottom: 30px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark);
      font-family: var(--primary-font);
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }

    p {
      color: var(--dark);
      font-family: var(--neue-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 450;
      line-height: 145%;
      letter-spacing: 0.06px;
    }
  }
}

.organization-layout {
  .hero-detail {
    h1 {
      &.organization-title {
        color: var(--dark);
      }
    }
    .image-wrapper {
      background-color: #FCFCFC;
      position: relative;
      height: 365px;
      & *:not(img) {
        height: auto;
        width: auto;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        display: block;
      }
      img {
        height: auto;
        width: auto;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
    }
  }
}