.hero-detail {
  padding: 61px 0 68px 0;
  background-color: var(--light-orange);

  h1 {
    color: var(--dark-blue);
    font-family: var(--primary-font);
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 20px;
  }

  p {
    color: var(-black);
    font-family: var(--primary-font);
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
  }
}

@media screen and (max-width: 992px) {

  .hero-detail {

    padding: 54px 0 35px;
  
    h1 {
      font-size: 2.438rem;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 20px;
    }

  }

}