.ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.custom-btn {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;

  color: var(--white);
  font-family: var(--primary-font);
  font-family: Mundial;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
  padding: 16px 18px;
  border-radius: 5px;
  border: 2px solid var(--white);
  text-align: center;

  &:hover {
    color: var(--primary-color);
    background-color: var(--white);
  }

  &.custom-btn-primary {
    color: var(--white);
    background: var(--orange);
    border-color: var(--orange);

    &:hover {
      background: #BA6900;
      border-color: #BA6900;
    }
  }

  &.custom-btn-secondary {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--black);

    &:hover {
      background-color: rgba(0,0,0,0.1);
      color: var(--black);
    }
  }


}

@media screen and (max-width: 992px) {
  .custom-btn {
    width: 100%;
    font-size: 20px;
    padding: 13px 20px;
    text-align: center;
  }
}