.conference-wrapper {
  min-height: 90vh;
  background: linear-gradient(0deg, #EEF5FE 0%, #EEF5FE 100%), #FFF;
  padding: 60px 0;

  .grid {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 4fr;

    .custom-content {
      h2 {
        color: var(--dark-blue);
        font-family: var(--primary-font);
        font-size: 31px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        margin: 0;
        margin-bottom: 17px;
      }

      p {
        color: var(--dark);
        font-family: var(--neue-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 450;
        line-height: 145%;
        letter-spacing: 0.06px;
      }
    }
  }
}