.eventsSection {
  /*padding: 10rem 0 4rem;*/
}

.event-card {
  background: var(--cream);
  margin-bottom: 22px;
  padding: 48px 41px;
  text-decoration: none;
  color: initial;

  display: grid;
  gap: 41px;
  grid-template-columns: .6fr 2fr 1fr;

  .metadata {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .date {
      color: var(--black);
      font-family: var(--secondary-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 450;
      line-height: 130%;
    }

    .venue {
      color: var(--black);
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        color: var(--black);
        font-family: var(--secondary-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 450;
        line-height: 130%;
        letter-spacing: 0.06px;
      }
    }
  }

  .basic-info {
    h4 {
      color: var(--black);
      font-family: var(--primary-font);
      font-size: 31px;
      font-style: normal;
      font-weight: 600;
      line-height: 115%;
      margin: 0;
      padding: 0;
      margin-bottom: 15px;
    }

    .introduction {
      color: var(--black);
      font-family: var(--secondary-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 450;
      line-height: 130%;
      letter-spacing: 0.06px;
      margin: 0;
      padding: 0;
      margin-bottom: 25px;
    }

    .custom-btn {
      border-color: var(--black);
      color: var(--black);
    }
  }

  .image {
    * {
      height: 100%;
    }

    img {
      width: 100%;
      object-fit: cover !important;
    }
  }

  &:hover {
    background-color: var(--primary-color-lighter);
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);

    .custom-btn {
      background-color: var(--primary-color);
      color: var(--white);
      border-color: transparent;
    }
  }
}

@media screen and (max-width: 992px) {
  .event-card {
    padding: 26px 19px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    .image {
      order: 1;
      height: 180px;

      * {
        width: 100%;
      }
    }

    .metadata {
      order: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .date {
        font-size: 15px;
        line-height: 130%;
        order: 1;
      }

      .venue {
        order: 3;
        gap: 10px;

        span {
          font-size: 15px;
          line-height: 130%;
        }
      }

      .tags-list {
        order: 2;
        justify-content: flex-end;
      }
    }

    .basic-info {
      order: 3;

      h4 {
        font-size: 23px;
        line-height: 120%;
        margin-bottom: 10px;
      }

      .introduction {
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 15px;
      }
    }
  }
}